.header {
  background: #fff;
  box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #555f66;
  cursor: default;
  height: 3.5em;
  justify-content: space-between;
  left: 0;
  line-height: 3em;
  padding: 0 15px;
  top: 0;
  width: 100%;
}

.logo {
  height: 100%;
  justify-content: center;
  width: 60px;
}

.logo img {
  max-width: 40px;
}

.login-block a {
  color: #555f66;
  text-decoration: none;
}
.login-block a:hover {
  color: #629DD1;
}
