/*.header {*/
/*  grid-area: header;*/
/*}*/

.nav {
  grid-area: nav;
}

.main {
  grid-area: mainContent;
}

.main-container {
  grid-area: mainContainer;
}

.main-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 30px;
  grid-template-areas: 
  "nav mainContent";
}

